nemesis-get-users-lambda/node_modules/*
nemesis-get-users-lambda/get_users.zip

nemesis-get-user-lambda/node_modules/*
nemesis-get-user-lambda/get_user.zip

nemesis-create-transaction-lambda/node_modules/*
nemesis-create-transaction-lambda/create_transaction.zip

nemesis-get-transactions-by-userId-lambda/node_modules/*
nemesis-get-transactions-by-userId-lambda/nemesis-get-transactions-by-userId-lambda.zip
